.textp2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 77px;
    
    color: #000000;

}
.textp1{
font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 36px;
line-height: 44px;

color: #656565;
}
.cont-principal{
    display: flex;
    flex-direction: column;
}
